<form class="form-signin" action="<%=  CONSTANTS[:base_url] %>password/update" method="post">
  <a href="<%=  CONSTANTS[:base_url] %>">
    <img src="<%=  CONSTANTS[:static_url] %>assets/img/logo.png" height="130" width="240" class="mb-4 brand" alt="Canchas-Login">
  </a>
  <h1 class="h3 mb-3 font-weight-normal"><%= @locals[:contents]['form_title'] %></h1>
  <input type="hidden" name="<%= CONSTANTS[:csrf][:key] %>" value="<%= CONSTANTS[:csrf][:secret] %>">
  <span class="extraData"></span>
  <!--KEYES-->
  <input type="hidden" name="user_id" value="<%= @locals[:user_id] %>">
  <input type="hidden" name="reset" value="<%= @locals[:reset] %>">
  <!--PASS -->
  <label for="inputPassword" class="sr-only"><%= @locals[:contents]['label_password'] %></label>
  <input type="password" id="inputPassword" class="form-control" placeholder="<%= @locals[:contents]['placeholder_password'] %>" required="" name="pass1">
  <!--PASS REPEAT -->
  <label for="inputPassword" class="sr-only"><%= @locals[:contents]['label_password_repeat'] %></label>
  <input type="password" id="inputPassword" class="form-control" placeholder="<%= @locals[:contents]['placeholder_password_repeat'] %>" required="" name="pass2">
  <!--MESSAGE-->
  <p class="message <%= @locals[:message_type] %>" style="margin-top:10px;" id="login-message"><%= @locals[:message] %></p>
  <!--BUTTON -->
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    <%= @locals[:contents]['button'] %>
  </button>
  <!--FooTER LOGIN NAV -->
  <div class="link-login">
    <a class="" href="<%= CONSTANTS[:base_url] %>">
      <%= @locals[:contents]['home'] %>
    </a>
  </div>
  <p class="mt-5 mb-3 text-muted">Powered By <a href="http://softweb.pe/"> Softtware Web Perú</a> © 2017-2018</p>
</form>
