<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="shortcut icon" href="<%=CONSTANTS[:static_url]%>favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=@locals[:title]%></title>
    <%= load_css %>
  </head>
  <body>
    <%= yield %>
    <%= load_js %>
  </body>
</html>
